# This notebook's function is to read in the data from the out_.xlsx files (which should all be in a consistent format) and generate an excel file from the data.

In [1]:
# import modules
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Read in all of the out_.xlsx files, they can be read from column M of Vehicle_fleet_data

In [2]:
# # read in data, set the header to be the desired column titles
# df = pd.read_excel('vehicle_fleet_stock.xlsx', sheet_name= 'data', index_col=[0],)
# df.index.name = 'id'
# df # view the data frame

In [3]:
# this should have the same result
df = pd.read_pickle('stock_df.pickle')

In [4]:
df[df.geo=='Japan']

,year_of_measurement,date_of_measurement,geo,process,vehicle_class,vehicle_segment,motor_energy,model_year,year_of_first_registraion,value,unit,source,accessed,notebook,footnote
012000000234,2019,2019-12-31,Japan,r,JPPASS,all,all,NaN,2019,2836599,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
012000000235,2019,2019-12-31,Japan,r,JPPASS,all,all,NaN,2018,2839306,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
012000000236,2019,2019-12-31,Japan,r,JPPASS,all,all,NaN,2017,2800925,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
012000000237,2019,2019-12-31,Japan,r,JPPASS,all,all,NaN,2016,2491284,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
012000000238,2019,2019-12-31,Japan,r,JPPASS,all,all,NaN,2015,2459920,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
002000000957,2011,,Japan,r,OIPC,all,all,all,,5.867e+07,nr,OICA,2020-06-24,oica_st_2005_2015_iu,
002000001102,2012,,Japan,r,OIPC,all,all,all,,5.9421e+07,nr,OICA,2020-06-24,oica_st_2005_2015_iu,
002000001247,2013,,Japan,r,OIPC,all,all,all,,6.00358e+07,nr,OICA,2020-06-24,oica_st_2005_2015_iu,
002000001392,2014,,Japan,r,OIPC,all,all,all,,6.06681e+07,nr,OICA,2020-06-24,oica_st_2005_2015_iu,
002000001537,2015,,Japan,r,OIPC,all,all,all,,6.09879e+07,nr,OICA,2020-06-24,oica_st_2005_2015_iu,

## Make a new dataframe focusing on just passenger cars as defined by my own definition 'PCMO'

In [5]:
# copy the dataframe to make a new object named p_c
df_p_or_c = df.copy()

In [6]:
df_p_or_c

,year_of_measurement,date_of_measurement,geo,process,vehicle_class,vehicle_segment,motor_energy,model_year,year_of_first_registraion,value,unit,source,accessed,notebook,footnote
012000000234,2019,2019-12-31,Japan,r,JPPASS,all,all,NaN,2019,2836599,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
012000000235,2019,2019-12-31,Japan,r,JPPASS,all,all,NaN,2018,2839306,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
012000000236,2019,2019-12-31,Japan,r,JPPASS,all,all,NaN,2017,2800925,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
012000000237,2019,2019-12-31,Japan,r,JPPASS,all,all,NaN,2016,2491284,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
012000000238,2019,2019-12-31,Japan,r,JPPASS,all,all,NaN,2015,2459920,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
004000003800,2018,,Sweden,r,EUM1,all,ICE,all,,212504,nr,EUROSTAT,2020-07-03,004_s_EU_2012_2018_cl(pc)_me_eurostat.ipynb,NaN
004000003801,2018,,United Kingdom of Great Britain and Northern I...,r,EUM1,all,ICE,all,,343,nr,EUROSTAT,2020-07-03,004_s_EU_2012_2018_cl(pc)_me_eurostat.ipynb,"definition differs, see eurostat metadata"
004000003803,2018,,Norway,r,EUM1,all,ICE,all,,1008,nr,EUROSTAT,2020-07-03,004_s_EU_2012_2018_cl(pc)_me_eurostat.ipynb,NaN
004000003804,2018,,Switzerland,r,EUM1,all,ICE,all,,3700,nr,EUROSTAT,2020-07-03,004_s_EU_2012_2018_cl(pc)_me_eurostat.ipynb,NaN
004000003806,2018,,Turkey,r,EUM1,all,ICE,all,,38815,nr,EUROSTAT,2020-07-03,004_s_EU_2012_2018_cl(pc)_me_eurostat.ipynb,"definition differs, see eurostat metadata"

In [7]:
#replace class codes with own PCMO approximation

metaxls = pd.ExcelFile('metadata_vehicle_fleet.xlsx')
classMetadata = pd.read_excel(metaxls, sheet_name= 'class_metadata', index_col= 0)

df_p_or_c['vehicle_class'].replace(to_replace=classMetadata.code.to_list(), value=classMetadata.PCMO.to_list(), inplace=True )

#find codes which did not match 
df_p_or_c.loc[~df_p_or_c['vehicle_class'].isin(classMetadata.PCMO)]

,year_of_measurement,date_of_measurement,geo,process,vehicle_class,vehicle_segment,motor_energy,model_year,year_of_first_registraion,value,unit,source,accessed,notebook,footnote
009000000000,1950,1950-12-31,Norway,r,Passenger cars,all,all,all,,65028,nr,STATBANK,2020-08-04,009_s_NO_1950_2007_cl_statbank.ipynb,
009000000004,1950,1950-12-31,Norway,r,Combined vehicles,all,all,all,,1960,nr,STATBANK,2020-08-04,009_s_NO_1950_2007_cl_statbank.ipynb,
009000000005,1950,1950-12-31,Norway,r,Tractors etc,all,all,all,,2140,nr,STATBANK,2020-08-04,009_s_NO_1950_2007_cl_statbank.ipynb,
009000000006,1950,1950-12-31,Norway,r,Special purpose vehicles,all,all,all,,..,nr,STATBANK,2020-08-04,009_s_NO_1950_2007_cl_statbank.ipynb,
009000000010,1951,1951-12-31,Norway,r,Passenger cars,all,all,all,,69509,nr,STATBANK,2020-08-04,009_s_NO_1950_2007_cl_statbank.ipynb,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
006000000059,2012,,India,r,M,all,all,all,,7.65839e+06,nr,MOSPI,2020-06-30,006_s_IN_2001_2016_cl_inmorth.ipynb,
006000000060,2013,,India,r,M,all,all,all,,8.59676e+06,nr,MOSPI,2020-06-30,006_s_IN_2001_2016_cl_inmorth.ipynb,
006000000061,2014,,India,r,M,all,all,all,,8.69754e+06,nr,MOSPI,2020-06-30,006_s_IN_2001_2016_cl_inmorth.ipynb,
006000000062,2015,,India,r,M,all,all,all,,9.34446e+06,nr,MOSPI,2020-06-30,006_s_IN_2001_2016_cl_inmorth.ipynb,
006000000063,2016,,India,r,M,all,all,all,,1.05162e+07,nr,MOSPI,2020-06-30,006_s_IN_2001_2016_cl_inmorth.ipynb,

In [8]:
classMetadata.PCMO.to_list()

['p',
 'c',
 'c',
 'c',
 'c',
 'c',
 'm',
 'p',
 'c',
 'p',
 'c',
 'p',
 'c',
 'c',
 'm',
 'all',
 'p',
 nan,
 'c',
 'p',
 'c',
 'm',
 'p',
 'p',
 'o',
 'p',
 'c',
 'c',
 'c',
 'c',
 'c',
 'o',
 'm',
 'm',
 'm',
 'o',
 'o',
 'p',
 'all',
 'c',
 'p',
 'c',
 'c',
 'o',
 'p',
 'c',
 'c',
 'm',
 'o']

In [9]:
# make a datafram of just the passenger cars (according to *somewhat* arbitrary mapping)
p_df = df_p_or_c[(df_p_or_c.vehicle_class=='p')]
p_df

,year_of_measurement,date_of_measurement,geo,process,vehicle_class,vehicle_segment,motor_energy,model_year,year_of_first_registraion,value,unit,source,accessed,notebook,footnote
012000000234,2019,2019-12-31,Japan,r,p,all,all,NaN,2019,2836599,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
012000000235,2019,2019-12-31,Japan,r,p,all,all,NaN,2018,2839306,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
012000000236,2019,2019-12-31,Japan,r,p,all,all,NaN,2017,2800925,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
012000000237,2019,2019-12-31,Japan,r,p,all,all,NaN,2016,2491284,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
012000000238,2019,2019-12-31,Japan,r,p,all,all,NaN,2015,2459920,nr,JPAMA,2020-08-19,012_s_Japan_1970_2019_cl_yofr_JPAMA.ipynb,year of first registration is counted 12 month...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
004000003800,2018,,Sweden,r,p,all,ICE,all,,212504,nr,EUROSTAT,2020-07-03,004_s_EU_2012_2018_cl(pc)_me_eurostat.ipynb,NaN
004000003801,2018,,United Kingdom of Great Britain and Northern I...,r,p,all,ICE,all,,343,nr,EUROSTAT,2020-07-03,004_s_EU_2012_2018_cl(pc)_me_eurostat.ipynb,"definition differs, see eurostat metadata"
004000003803,2018,,Norway,r,p,all,ICE,all,,1008,nr,EUROSTAT,2020-07-03,004_s_EU_2012_2018_cl(pc)_me_eurostat.ipynb,NaN
004000003804,2018,,Switzerland,r,p,all,ICE,all,,3700,nr,EUROSTAT,2020-07-03,004_s_EU_2012_2018_cl(pc)_me_eurostat.ipynb,NaN
004000003806,2018,,Turkey,r,p,all,ICE,all,,38815,nr,EUROSTAT,2020-07-03,004_s_EU_2012_2018_cl(pc)_me_eurostat.ipynb,"definition differs, see eurostat metadata"

### Compare the passenger car data from Eurostat and OICA

In [10]:
# get passenger cars for norway where all attributes are all and source is eurostat
p_no_euro= p_df[(p_df.geo==578) & (p_df.source=='EUROSTAT') & (p_df.motor_energy=='all') & (p_df.vehicle_segment=='all')]
p_no_euro

Empty DataFrame
Columns: [year_of_measurement, date_of_measurement, geo, process, vehicle_class, vehicle_segment, motor_energy, model_year, year_of_first_registraion, value, unit, source, accessed, notebook, footnote]
Index: []

In [11]:
# get passenger cars for norway where all attributes are all and source is oica
p_no_oica=  p_df[(p_df.geo==578) & (p_df.source=='EUROSTAT') & (p_df.motor_energy=='all') & (p_df.vehicle_segment=='all')]
p_no_oica

Empty DataFrame
Columns: [year_of_measurement, date_of_measurement, geo, process, vehicle_class, vehicle_segment, motor_energy, model_year, year_of_first_registraion, value, unit, source, accessed, notebook, footnote]
Index: []

In [12]:
# plot on separate plots with pandas built in plot function
p_no_euro.plot(x='year_of_measurement', y = 'value')
p_no_oica.plot(x='year_of_measurement', y = 'value')

TypeError: no numeric data to plot

Well, this is a fairly uninformative plot. though it shows us that the Eurostat data and the OICA data match. I guess the useability of the data will increase once we get more data in it.

### Lets try to compare BEV's in Norway and in Sweden

In [ ]:
p_no_BEV= p_df[(p_df.geo==578) & (p_df.motor_energy=='BEV') & (p_df.vehicle_segment=='all')]
p_no_BEV

In [ ]:
p_se_BEV= p_df[(p_df.geo==752) & (p_df.motor_energy=='BEV') & (p_df.vehicle_segment=='all')]
p_se_BEV

In [ ]:
# gca stands for 'get current axis'
ax = plt.gca()

p_no_BEV.plot(kind='line',x='year_of_measurement',y='value',ax=ax)
p_se_BEV.plot(kind='line',x='year_of_measurement',y='value',ax=ax)

plt.show()

This is a bit more useful. I don't want to spend too much time on this as I'm not up on plotting in pandas. But the concept is there at least