# This notebook's function is to read in the data from the out_.xlsx files (which should all be in a consistent format) and generate an excel file from the data.

In [2]:
# import modules
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Read in all of the out_.xlsx files, they can be read from column M of Vehicle_fleet_data

In [3]:
# # read in data, set the header to be the desired column titles
# df = pd.read_excel('vehicle_fleet_stock.xlsx', sheet_name= 'data', index_col=[0],)
# df.index.name = 'id'
# df # view the data frame

In [4]:
# this should have the same result
df = pd.read_pickle('stock_df.pickle')

In [5]:
df

,accessed,date_of_measurement,footnote,geo,model_year,motor_energy,notebook,process,source,unit,value,vehicle_class,vehicle_segment,year_of_first_registraion,year_of_measurement
005000000010,2020-07-06,,NaN,40,all,all,005_s_EU_1996_2018_cl(pc)_wt_eurostat.ipynb,r,EUROSTAT,nr,829000,EUM1,b100,,2006
005000000011,2020-07-06,,NaN,40,all,all,005_s_EU_1996_2018_cl(pc)_wt_eurostat.ipynb,r,EUROSTAT,nr,772000,EUM1,b100,,2007
005000000012,2020-07-06,,NaN,40,all,all,005_s_EU_1996_2018_cl(pc)_wt_eurostat.ipynb,r,EUROSTAT,nr,728000,EUM1,b100,,2008
005000000013,2020-07-06,,NaN,40,all,all,005_s_EU_1996_2018_cl(pc)_wt_eurostat.ipynb,r,EUROSTAT,nr,688000,EUM1,b100,,2009
005000000014,2020-07-06,,NaN,40,all,all,005_s_EU_1996_2018_cl(pc)_wt_eurostat.ipynb,r,EUROSTAT,nr,657000,EUM1,b100,,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
007000000643,2020-08-04,,,578,all,OTH,007_s_NO_2008_2019_cl_me_statbank.ipynb,r,STATBANK,nr,2,NOCV,all,,2019
007000000644,2020-08-04,,,578,all,OTH,007_s_NO_2008_2019_cl_me_statbank.ipynb,r,STATBANK,nr,75,NOLO,all,,2019
007000000645,2020-08-04,,,578,all,OTH,007_s_NO_2008_2019_cl_me_statbank.ipynb,r,STATBANK,nr,0,NOMP,all,,2019
007000000646,2020-08-04,,,578,all,OTH,007_s_NO_2008_2019_cl_me_statbank.ipynb,r,STATBANK,nr,1,NOLMC,all,,2019
007000000647,2020-08-04,,,578,all,OTH,007_s_NO_2008_2019_cl_me_statbank.ipynb,r,STATBANK,nr,8,NOHMC,all,,2019

In [ ]:
# This section of code should convert the geo codes back into legible names

## now I'd like to make a new dataframe focusing on just passenger cars as defined by my own definition 'p_c' in vehicle_fleet_dictionary.xlsx

In [ ]:
# copy the dataframe to make a new object named p_c
df_p_or_c = df.copy()

In [ ]:
# read in the dictiory file
dictxls = pd.ExcelFile('vehicle_fleet_dictionary.xlsx')
# assemble p_c dictionary lists
class_dict_df = pd.read_excel(dictxls, sheet_name= 'class', index_col= 0)
pass_or_com = class_dict_df['p_c'].to_list()
class_code = class_dict_df['class_code'].to_list()
class_dict_df

In [ ]:
# replace the vehicle class codes with p_c codes
df_p_or_c['vehicle_class'].replace(to_replace=class_code, value=pass_or_com, inplace=True)

In [ ]:
# make a datafram of just the passenger cars (according to *somewhat* arbitrary mapping)
p_df = df_p_or_c[(df_p_or_c.vehicle_class=='p')]
p_df

### Compare the passenger car data from Eurostat and OICA

In [ ]:
# get passenger cars for norway where all attributes are all and source is eurostat
p_no_euro= p_df[(p_df.geo==578) & (p_df.source=='EUROSTAT') & (p_df.motor_energy=='all') & (p_df.vehicle_segment=='all')]
p_no_euro

In [ ]:
# get passenger cars for norway where all attributes are all and source is oica
p_no_oica=  p_df[(p_df.geo==578) & (p_df.source=='EUROSTAT') & (p_df.motor_energy=='all') & (p_df.vehicle_segment=='all')]
p_no_oica

In [ ]:
# plot on separate plots with pandas built in plot function
p_no_euro.plot(x='year_of_measurement', y = 'value')
p_no_oica.plot(x='year_of_measurement', y = 'value')

Well, this is a fairly uninformative plot. though it shows us that the Eurostat data and the OICA data match. I guess the useability of the data will increase once we get more data in it.

### Lets try to compare BEV's in Norway and in Sweden

In [ ]:
p_no_BEV= p_df[(p_df.geo==578) & (p_df.motor_energy=='BEV') & (p_df.vehicle_segment=='all')]
p_no_BEV

In [ ]:
p_se_BEV= p_df[(p_df.geo==752) & (p_df.motor_energy=='BEV') & (p_df.vehicle_segment=='all')]
p_se_BEV

In [ ]:
# gca stands for 'get current axis'
ax = plt.gca()

p_no_BEV.plot(kind='line',x='year_of_measurement',y='value',ax=ax)
p_se_BEV.plot(kind='line',x='year_of_measurement',y='value',ax=ax)

plt.show()

This is a bit more useful. I don't want to spend too much time on this as I'm not up on plotting in pandas. But the concept is there at least